__Previews/
History/
* Logs*
Project Outputs*/
Project Logs*/
Assembly Exports/
*.rawProject Outputs*/
*.PcbDoc.htm
.allspice/
*.DSNlck
read_me.txt
Release Document for Altium Designer.txt
*.apr
*.EXTREP
*.REP
*.RUL
*.APR_LIB
Status Report.Txt